<!DOCTYPE html>
<html lang="en" class="page_format">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/mode_photo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Seasonal Fruits and Veggies AI Calendar</title>
</head>
<body>
    <form action="{{ url_for('mode_photo_result') }}" method="post" onsubmit="return validateForm()" enctype="multipart/form-data"> 
        <!-- enctype="multipart/form-data" : permet de récupérer des fichiers -->
        <a href="{{ url_for('index') }}" class="home-button">
            <i class="fas fa-home"></i>
        </a>

        <div>
            <h1>s<span>AI</span>son </h1>
        
            <input type="file" name="img_ipt" id="img_ipt" accept="image/jpg, image/jpeg" onchange="handleImageUpload()" style="display:none;"/>
            
            <div id="image-preview" class="no-image image-container">
                <img id="uploaded-image">
                <div id="error-message">Please select a picture.</div>
            </div>

            <br/>
            
            <button type="submit" id="check-button" disabled>Check</button>
        </div>
    </form>
    
    <script>
        function handleImageUpload() {
            const fileInput = document.getElementById('img_ipt');
            const uploadedImage = document.getElementById('uploaded-image');
            const errorMessage = document.getElementById('error-message');
            const imagePreview = document.getElementById('image-preview');
            const checkButton = document.getElementById('check-button');
            const file = fileInput.files[0];

            if (file) {
                // Check le type de fichier
                const validTypes = ['image/jpeg', 'image/jpg'];
                if (!validTypes.includes(file.type)) {
                    errorMessage.textContent = 'Please select a picture. (.JPEG or .JPG)';
                    checkButton.disabled = true;  // Désactive le bouton si mauvais type de fichier
                    return;
                }

                // Affichage de l'image
                const reader = new FileReader();
                reader.onload = function(e) {
                    uploadedImage.src = e.target.result;
                    errorMessage.style.display = 'none';
                };
                reader.readAsDataURL(file);
                imagePreview.setAttribute('class', 'image-container'); // Suppression de la class pour l'affichage
                uploadedImage.style.cssText = 'box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);';
                
                // Active le bouton Check lorsque l'image est correctement sélectionnée
                checkButton.disabled = false;
            } 
        }

        // Add click event listener to open file dialog when the area is clicked
        document.getElementById('image-preview').addEventListener('click', function() {
            document.getElementById('img_ipt').click();
        });

        // Validation du formulaire avant la soumission
        function validateForm() {
            const fileInput = document.getElementById('img_ipt');
            const uploadedImage = document.getElementById('uploaded-image');
            
            // Check if a file has been uploaded or if an image has been preloaded via imagePath
            if (!fileInput.files[0] && !uploadedImage.src) {
                alert("Please upload an image before submitting.");
                return false;  // Prevents form submission
            }
            return true;  // Allows form submission if an image is present
        }

    </script>
</body>
</html>
