#image-preview {
    cursor: pointer;
    transition: all 0.3s ease;
}

.no-image{
    border: 2px dashed var(--color-border);
    background-color: var(--color-background-light); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#error-message {
    color: var(--color-primary);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

#choose-file-text {
    position: absolute;
    font-size: 16px;
    color: var(--color-border); 
    pointer-events: none; 
    font-family: 'Roboto', sans-serif;
}
