.page_format body{
    max-height: 90%;
    max-width: 850px;
}

.saison_pos{
    color: var(--color-pos); 
}

.saison_avg{
    color: var(--color-avg);
}

.saison_neg{
    color: var(--color-neg);
}

.color-bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}


.scan_param{
    text-align: left;
    display: inline;
}


.image-container {
    position: relative;
    height: 600px;  /* Hauteur maximale du conteneur */
    width: 800px;   /* Largeur maximale du conteneur */
}

#uploaded-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; /* Garde les proportions de l'image */
}

.zoom-box {
    position: absolute;
    height: 250px;  /* Taille de la zone de zoom (hauteur) */
    width: 250px;   /* Taille de la zone de zoom (largeur) */
    border: 2px solid #000; /* Bordure autour de la zone de zoom */
    overflow: hidden; /* Empêche le débordement */
    display: none; /* Masqué par défaut, affiché seulement lors du survol */
    pointer-events: none; /* Empêche l'interaction avec la zone de zoom */
}

.zoom-box img {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 200%; /* Zoom à 200% de l'image originale */
    min-height: 200%; /* Zoom à 200% de l'image originale */
}
