.page_format body{
    max-height: 90%;
    max-width: 650px;
}

.saison_pos{
    color: var(--color-pos); 
}

.saison_avg{
    color: var(--color-avg);
}

.saison_neg{
    color: var(--color-neg);
}

.color-bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

#image-preview, #uploaded-image {
    max-height: 400px;
    max-width: 600px;
}

.scan_param{
    text-align: left;
    display: inline;
}
